<div class="container">
  <h3>Welcome <%= current_user.census_name(current_user.token) %>!</h3>
  <h5>Instructor Dashboard</h5>
  <div class="row">
    <div class="col s4">
      <h5>Submitted Exercises</h5>
      <ul id="all-submitted">
        <% @instructor_presenter.submitted.each do |solution| %>
          <li><%= link_to solution.exercise.name, exercise_solution_path(solution.exercise, solution) %></li>
          <li>Submitted by: <%= solution.user.census_name(current_user.token) %></li>
          <li>Cohort: <%= solution.user.census_cohort(current_user.token) %></li>
          <li>Exercise Name:  <%= solution.exercise.name %></li>
          <li>
            Exercise Tags:  <% solution.exercise.tags.each do |tag| %>
                              <%= tag.name %>,
                            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col s4">
      <h5>Solved Exercises</h5>
      <ul id="all-solved">
        <% @instructor_presenter.solved.each do |solution| %>
          <li><%= link_to solution.exercise.name, exercise_solution_path(solution.exercise, solution) %></li>
          <li>Submitted by: <%= solution.user.first_name %> <%= solution.user.last_name %>
          <li>Exercise Name:  <%= solution.exercise.name %>
          <li>Exercise Language:  <%= solution.exercise.tags.second.name %>
          <li>Exercise Difficulty:  <%= solution.exercise.tags.first.name %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
