<div class="container">
  <h3>Your solution for <%=@solution.exercise.name %> </h3>
  <h4>Status: <%= @solution.status %>
  <%= CodeRay.scan(@solution.content, :ruby).div.html_safe %>
  <br>
  <h4>Feedback</h4>
  <ul>
    <% @feedbacks.each do |fb| %>
      <li>
        <p><%= fb.user.census_id %></p>
        <p><%= fb.comment %></p>
      </li>
    <% end %>
  </ul>
  <h5>Leave Feedback</h5>
  <%= form_for @feedback do |f| %>
    <p><%= f.text_area :comment, id: "feedback-content" %></p>
    <p><%= f.submit %></p>
  <% end %>
</div>
