<div class="container">
  <% if @solution.exercise.user_solution?(current_user) %>
    <h3>Your solution for <%=@solution.exercise.name %> </h3>
    <h5>Status: <%= @solution.status %></h5>
    <%= CodeRay.scan(@solution.content, :ruby).div.html_safe %>
    <br>
    <%= link_to "All submissions for #{@solution.exercise.name}", exercise_solutions_path(@solution.exercise), class: "waves-effect waves-light btn" %>
    <h4>Feedback</h4>
    <ul>
      <% @feedbacks.each do |fb| %>
        <li>
          <p>User <%= fb.user.census_id %>
            <% if fb.user.instructor? %>
              (Instructor)
            <% end %>
          </p>
          <p><%= fb.comment %></p>
          <% if fb.user == current_user || current_user.instructor? %>
            <%= link_to "Edit Feedback", edit_solution_feedback_path(@solution, fb) %>
            <%= link_to "Delete", [@solution, fb], :method => :delete %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <h5>Leave Feedback</h5>
    <%= form_for [@solution, @feedback] do |f| %>
      <p><%= f.text_area :comment, id: "feedback-content" %></p>
      <p><%= f.submit %></p>
    <% end %>
  <% else %>
    <%= render :file => 'public/404.html' %>
  <% end %>
</div>
