<div class="container">
  <% if @solution.exercise.user_solution?(current_user) %>
    <% if @user == current_user %>
      <h3>Your solution for <%=@solution.exercise.name %> </h3>
    <% else %>
      <h3><%= @user.census_name(current_user.token) %>'s solution for <%=@solution.exercise.name %> </h3>
    <% end %>
    <h5>Status: <%= @solution.status %></h5>
    <%= CodeRay.scan(@solution.content, :ruby).div.html_safe %>
    <br>
    <%= link_to "All submissions for #{@solution.exercise.name}", exercise_solutions_path(@solution.exercise), class: "waves-effect waves-light btn" %>
    <% if current_user.instructor? %>
    <%= link_to "Mark as Solved", exercise_solution_path(@solution.exercise), class: "waves-effect waves-light btn", :method => :patch %>
    <% end %>
    <br>
    <h4>Feedback</h4>
    <ul>
      <% @feedbacks.each do |fb| %>
        <li>
          <strong><%= fb.user.census_name(current_user.token) %></strong> <%= fb.user.census_cohort(current_user.token) %>
          <span style="float:right; font-size: 12px;"> <%= time_ago_in_words(fb.time_posted_or_updated) %> ago</span>
            <% if fb.user.instructor? %>
              (Instructor)
            <% end %>

          <p><%= fb.comment %></p>
          <% if fb.user == current_user || current_user.instructor? %>
            <%= link_to "Edit Feedback", edit_solution_feedback_path(@solution, fb) %>
            <span style="float:right"><%= link_to "Delete", [@solution, fb], :method => :delete %></span>
          <% end %>
          <hr>
        </li>
      <% end %>
    </ul>
    <h5>Leave Feedback</h5>
    <%= form_for [@solution, @feedback] do |f| %>
      <p><%= f.text_area :comment, id: "feedback-content" %></p>
      <p><%= f.submit class: "waves-effect waves-light btn" %></p>
    <% end %>
  <% else %>
    <%= render :file => 'public/404.html' %>
  <% end %>
</div>
