<!DOCTYPE html>
<html>
  <head>
    <title>Ripped</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <%= javascript_include_tag 'application' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Ripped</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li> <%=link_to "Exercises", exercises_path%> </li>
          <% if current_user %>
            <li><a href="#" class="dropdown-button btn" data-activates='dropdown1' data-beloworigin="true" data-gutter="16", data-constrainwidth="true"><span class="badge notification-button" data-badge-caption="Recent Updates" id="notification-logo"><%= current_user.notification_display %></span></a></li>
          <% end %>

        </ul>
      </div>
      <ul id='dropdown1' class='dropdown-content dropdown-custom'>
        <% if current_user %>
          <% Solution.where(user_id: current_user.id).each do |solution| %>
            <li><%= link_to solution.exercise.name, exercise_solution_path(solution.exercise.id, solution.id) %></li>
          <% end %>
          <% end %>
      </ul>
    </nav>
    <% flash.each do |type, message| %>
      <div class="alert alert-<%= type %>">
       <strong><%= message %></strong>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
