<!DOCTYPE html>
<html>
  <head>
    <title>Ripped</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |type, message| %>
      <div class="alert alert-<%= type %>">
       <strong><%= message %></strong>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
